<h1>Your Cart:</h1>

<div class="row">

  <% @carted_products.each do |carted_product| %>

  <div class="col-md-4">
    <div class="well">

      <h2><%= carted_product.product.name %></h2>
      <h3>Quantity: <%= carted_product.quantity %></h3>
    </div>
  </div>

  <% end %>

</div>
