<h1>What a badass. You just destroyed that product bro. But maybe make love not war you know? After all, aren't we all just stardust in the end?</h1>
<p><%= link_to "Back to All Products", "/products" %>